@import '~cookieconsent/build/cookieconsent.min';

.cc-banner {
    &.cc-theme-edgeless {
        .cc-message {
            margin-top: 1em;

            @media (min-width: 1000px) {
                margin: 0 0 0 1em;
            }
        }

        .cc-dismiss {
            @media (max-width: 420px) {
                width: 100%;
            }
        }

        .cc-link {
            margin: 0;
        }
    }
}
