<template>
    <div class="w-full bg-grey p-1 sm:p-2">

        <small class="font-bold">{{ readMoreText }}</small>

        <a :name="anchor"></a>

        <a :href="`#${anchor}`" class="block mt-1 title-container" @click.prevent="toggle" @keydown.prevent.space="toggle">
            <slot name="title">
                {{ the_title }}
            </slot>
        </a>

        <div class="content-container mt-1 p-1 sm:p-2" v-if="opened">
            <slot name="content">
                <p>No content found - make sure you've used the shortcode correctly. e.g.</p>
                <textarea class="w-full bg-white border-1 mt-2" rows="10">
[spoiler]

<h3>Some title</h3>

Some content!

[/spoiler]
            </textarea>
            </slot>
        </div>

        <div class="toggle-container mt-1 flex items-center text-red cursor-pointer text-13 font-bold">

            <button class="appearance-none mr-1" @click.prevent="toggle" @keydown.prevent.space="toggle">
                <svg v-if="opened" class="block" viewBox="0 0 39 39" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path fill="currentColor" d="M0 0h39v39H0z"></path><path fill="#FFF" fill-rule="nonzero" d="M26.753 21.222l-1.53 1.53-5.795-5.794-5.795 5.795-1.53-1.53 7.325-7.326z"></path></g></svg>
                <svg v-if="!opened" class="block" viewBox="0 0 39 39" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path fill="currentColor" d="M0 0h39v39H0z"></path><path fill="#FFF" fill-rule="nonzero" d="M26.753 15.428l-1.53-1.53-5.795 5.794-5.795-5.795-1.53 1.53 7.325 7.326z"></path></g></svg>
            </button>

            <span v-if="!opened" @click.prevent="toggle">
                {{ showText }}
            </span>

            <span v-if="opened" @click.prevent="toggle">
                {{ hideText }}
            </span>

        </div>

    </div>
</template>

<script>
    export default {

        name: 'SpoilerShortcode',

        props: ['open', 'title', 'readMoreText', 'showText', 'hideText'],

        data() {
            return {
                anchor: 'spoiler_' + this._uid,
                opened: this.open,
                the_title: this.title || 'No title provided',
            }
        },

        methods: {

            toggle() {
                this.opened = !this.opened;
            },

        },

    }
</script>

<style scoped lang="scss">
    .title-container {
        * {
            margin: 0;
        }
    }

    .content-container {
        background-color: #e4e4e4;
    }

    button {
        width: 39px;
        height: 39px;
        color: #e60027;

        &:hover,
        &:focus {
            color: #0E1112;
        }
    }
</style>
