<template>

    <button @click="openMenu" class="focus:outline-none">
        <slot>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path d="M0 0h11.688v1.714H0zm0 5h11.688v1.714H0zm0 5h11.688v1.714H0z" fill="currentColor" fill-rule="evenodd"></path></svg>
        </slot>
    </button>

</template>

<script>
    import 'custom-event-polyfill';

    export default {

        name: 'UIHamburgerButton',

        methods: {

            fireEvent(name) {
                this.$emit(name);

                document.dispatchEvent(
                    new CustomEvent(`burger:${name}`)
                );
            },

            openMenu() {
                return this.fireEvent('open');
            },

        },

    }
</script>
