<template>

    <div v-touch:swipe.right="closeMenu" class="burger-container" v-if="open">

        <div class="burger-deadzone" @click="closeMenu"></div>

        <transition :name="transition" @after-enter="afterEnter" @after-leave="afterLeave">
            <div v-if="shouldShow" class="burger-menu shadow-lg">

                <button class="burger-close focus:outline-none" @click="closeMenu">
                    <slot name="close">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 9 9"><path fill="currentColor" fill-rule="evenodd" d="M4.5 5.402l-3.403 3.41A.642.642 0 1 1 .188 7.9l3.403-3.409L.188 1.083A.645.645 0 0 1 .204.189a.642.642 0 0 1 .893-.016L4.5 3.582 7.903.172a.642.642 0 0 1 .893.017c.245.245.252.64.016.894L5.409 4.492l3.403 3.409A.645.645 0 0 1 8.358 9a.642.642 0 0 1-.455-.189L4.5 5.402z"></path></svg>
                    </slot>
                </button>

                <div class="burger-content">
                    <slot>
                        Menu
                    </slot>
                </div>

            </div>
        </transition>

    </div>

</template>

<script>
    import Vue from 'vue'
    import 'custom-event-polyfill';
    import Vue2TouchEvents from 'vue2-touch-events'

    Vue.use(Vue2TouchEvents);

    export default {

        name: 'UIHamburgerMenu',

        props: {

            transition: {
                required: false,
                type: String,
                default: 'burger-slide',
            },

        },

        data: () => ({
            open: false,
            shouldShow: false,
        }),

        mounted() {
            window.burger = this;
            document.addEventListener('burger:open', this.openMenu);
            document.addEventListener('burger:close', this.closeMenu);
        },

        destroyed() {
            document.removeEventListener('keyup', this.escapeKey);
            document.removeEventListener('burger:open', this.openMenu);
            document.removeEventListener('burger:close', this.closeMenu);
        },

        methods: {

            fireEvent(event, data) {
                const eventName = `burger:${event}`;

                document.dispatchEvent(
                    new CustomEvent(eventName, {
                        detail: data,
                    })
                );

                this.$emit(eventName, data);
            },

            toggleMenu() {
                if (this.open) {
                    return this.closeMenu();
                } else {
                    return this.openMenu();
                }
            },

            openMenu() {
                this.fireEvent('opening');
                this.open = true;

                this.$nextTick(() => {
                    this.shouldShow = true;
                });
            },

            closeMenu() {
                this.fireEvent('closing');
                this.shouldShow = false;
            },

            afterEnter() {
                this.$nextTick(() => this.fireEvent('opened'));
            },

            afterLeave() {
                this.open = false;
                this.$nextTick(() => this.fireEvent('closed'))
            },

            escapeKey(event) {
                if (event.key === 'Escape' || event.keyCode === 27 || event.which === 27) {
                    this.closeMenu();
                } else if (event.key === '/' || event.keyCode === 191 || event.which === 191) {
                    this.toggleMenu();
                }
            },

        },

        watch: {

            shouldShow(yes) {
                if (yes) {
                    document.addEventListener('keyup', this.escapeKey);
                } else {
                    document.removeEventListener('keyup', this.escapeKey);
                }
            },

        },

    }
</script>

<style>
    .burger-container {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9000;
        width: 100vw;
        height: 100vh;
    }

    .burger-deadzone {
        flex: 1;
    }

    .burger-menu {
        width: 290px;
        background: #fdfdfd;
    }

    .burger-close {

    }

    .burger-content {

    }

    .burger-slide-enter-active,
    .burger-slide-leave-active {
        transition: transform .4s ease;
    }

    .burger-slide-enter {
        transform: translateX(100%);
    }

    .burger-slide-leave-to {
        transform: translateX(100%);
    }

</style>
